.app-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 10px;
  overflow: hidden;
  box-shadow: inset 0px 0px 1.5px rgba(255, 255, 255, 0.5), rgba(0, 0, 0, 0.4) 0px 7px 29px 0px;
}
