.box {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
}

.box.mac > span {
  height: 16px;
}

.date {
  font-size: 20px;
  line-height: 20px;
  font-weight: 400;
  color: black;
}

.time {
  font-size: 20px;
  line-height: 20px;
  font-weight: 400;
  color: black;
}
