@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

@font-face {
  font-family: "D2Coding";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_three@1.0/D2Coding.woff")
    format("woff");
}

@font-face {
  font-family: "AppleSDGothicNeo";
  font-weight: 100;
  src: url(/fonts/AppleSDGothicNeoT.woff2) format("woff2");
}

@font-face {
  font-family: "AppleSDGothicNeo";
  font-weight: 200;
  src: url(/fonts/AppleSDGothicNeoUL.woff2) format("woff2");
}

@font-face {
  font-family: "AppleSDGothicNeo";
  font-weight: 300;
  src: url(/fonts/AppleSDGothicNeoL.woff2) format("woff2");
}

@font-face {
  font-family: "AppleSDGothicNeo";
  font-weight: 400;
  src: url(/fonts/AppleSDGothicNeoR.woff2) format("woff2");
}

@font-face {
  font-family: "AppleSDGothicNeo";
  font-weight: 500;
  src: url(/fonts/AppleSDGothicNeoM.woff2) format("woff2");
}

@font-face {
  font-family: "AppleSDGothicNeo";
  font-weight: 600;
  src: url(/fonts/AppleSDGothicNeoSB.woff2) format("woff2");
}

@font-face {
  font-family: "AppleSDGothicNeo";
  font-weight: 700;
  src: url(/fonts/AppleSDGothicNeoB.woff2) format("woff2");
}

@font-face {
  font-family: "AppleSDGothicNeo";
  font-weight: 800;
  src: url(/fonts/AppleSDGothicNeoEB.woff2) format("woff2");
}

@font-face {
  font-family: "AppleSDGothicNeo";
  font-weight: 900;
  src: url(/fonts/AppleSDGothicNeoH.woff2) format("woff2");
}

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  user-select: none;
}

.main-layout {
  width: 100%;
  height: 100vh;
  background-color: rgba(255, 255, 255, 0.8);
}
