@keyframes alert-animation {
  0% {
    top: 50%;
  }

  50% {
    top: 0%;
  }

  100% {
    top: 50%;
  }
}

.identy {
  width: 1000px;
  height: 145px;
  position: absolute;
  bottom: 0px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 9999;
}

.identy:hover ~ .container {
  bottom: 15px;
}

.container {
  width: 1000px;
  height: 130px;
  padding: 8px 8px 8px 8px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 5px;
  background-color: #dfdfdf33;
  position: absolute;
  bottom: -130px;
  left: 50%;
  transform: translateX(-50%);
  backdrop-filter: blur(20px);
  border-radius: 25px;
  box-shadow: inset 0px 0px 2px rgba(255, 255, 255, 0.5);
  transition: bottom 0.5s ease;
  z-index: 9999;
}

.container:hover {
  bottom: 15px;
}

.application {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.application > .tooltip {
  display: none;
}

.application:hover > .tooltip {
  position: absolute;
  top: -80px;
  left: 50%;
  white-space: pre;
  transform: translateX(-50%);
  display: block;
  padding: 8px 22px;
  border: 2px solid #4f4b49;
  border-radius: 5px;
  background-color: #302c29;
}

.application:hover > .tooltip::after {
  position: absolute;
  bottom: -24px;
  left: 50%;
  transform: translateX(-50%);
  content: "";
  width: 0;
  height: 0;
  border-bottom: 12px solid transparent;
  border-top: 12px solid #302c29;
  border-left: 12px solid transparent;
  border-right: 12px solid transparent;
}

.application > .tooltip > .label {
  font-size: 25px;
  line-height: 25px;
  color: white;
}

.application > .active {
  width: 8px;
  height: 8px;
  position: absolute;
  bottom: -12px;
  left: 50%;
  transform: translateX(-50%);
  border-radius: 50%;
  background-color: #d3d2d2;
}

.alert {
  animation: alert-animation 1s infinite;
}
