.application {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 5px;
  position: absolute;
  top: 50px;
  left: 20px;
  opacity: 1;
  transition: opacity 0s ease;
}

.application.selected {
  background-color: rgba(0, 0, 0, 0.2);
}

.application.dragging {
  opacity: 0.5;
  background-color: rgba(0, 0, 0, 0.1);
}

.application-icon {
  width: 100px;
  height: 100px;
  background-repeat: no-repeat;
  background-size: cover;
  cursor: pointer;
}

.application-icon.app-github {
  background-image: url(../../images/applications/app-github.png);
}

.application-icon.app-terminal {
  background-image: url(../../images/applications/app-terminal.png);
}

.application-icon.app-notion {
  background-image: url(../../images/applications/app-notion.png);
}

.application-icon.app-memo {
  background-image: url(../../images/applications/app-memo.png);
}

.application-name {
  font-size: 20px;
  line-height: 20px;
  color: white;
  text-shadow: 0px 2px 8px rgba(0, 0, 0, 0.8);
  padding: 0px 0px 5px 0px;
}
