.realtime-box {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
}

.realtime-box.mac > span {
  height: 14px;
}

.realtime-date {
  font-size: 20px;
  line-height: 20px;
  font-weight: 400;
  color: black;
}

.realtime-time {
  font-size: 20px;
  line-height: 20px;
  font-weight: 400;
  color: black;
}
