.labels-container {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0px;
  left: 0px;
  pointer-events: none;
}

.labels-date {
  font-size: 15px;
  font-weight: 700;
  line-height: 15px;
  color: #242424;
  position: absolute;
  bottom: 24px;
  right: 24px;
}

.labels-git-box {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 0px;
  position: absolute;
  left: 24px;
  bottom: 24px;
}

.labels-git-icon {
  width: 40px;
  height: 40px;
  display: block;
}

.labels-git-link {
  height: 15px;
  font-size: 15px;
  font-weight: 700;
  line-height: 18.5px;
  text-decoration: none;
  color: #242424;
  cursor: pointer;
  pointer-events: all;
}
