@keyframes focus-animation {
  0% {
    opacity: 0;
  }

  50% {
    opacity: 1;
  }

  100% {
    opacity: 1;
  }
}

.terminal-window-wrapper {
  width: 100%;
  height: 100%;
  padding: 1px;
  background-color: rgba(20, 20, 20, 0.8);
  backdrop-filter: blur(10px);
  box-shadow: inset 0px 0px 1px white;
  font-family: "D2Coding";
}

.terminal-navigation-wrapper {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #343434;
  border-bottom: 1px solid black;
}

.terminal-nav-left-area {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  gap: 20px;
}

.terminal-nav-right-area {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: flex-end;
}

.terminal-nav-btns-wrapper {
  display: flex;
  justify-items: center;
  align-items: center;
  gap: 10px;
  padding: 10px 10px;
}

.terminal-nav-btn {
  width: 18px;
  height: 18px;
  border: none;
  border-radius: 50%;
  cursor: pointer;
}

.terminal-nav-btn.close {
  background-color: #ff5e57;
}

.terminal-nav-btn.unfold {
  background-color: #febc2e;
}

.terminal-nav-btn.full {
  background-color: #26c948;
}

.terminal-sub-nav {
  width: 550px;
  height: 38px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #464646;
}

.terminal-sub-nav-dir {
  font-size: 18px;
  line-height: 18px;
  color: white;
}

.terminal-sub-nav-add {
  width: 38px;
  height: 38px;
  font-size: 24px;
  line-height: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #656666;
  font-weight: 100;
}

.terminal-body-wrapper {
  width: 100%;
  height: calc(100% - 39px);
  padding: 8px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  overflow-y: scroll;
  pointer-events: all;
}

.terminal-body-wrapper::-webkit-scrollbar {
  display: none;
}

.terminal-body-wrapper > p {
  color: white;
  font-size: 20px;
  line-height: 24px;
}

.terminal-body-wrapper > .git-markdown {
  color: white;
}

.terminal-body-wrapper > .git-markdown > ol {
  counter-reset: li;
  list-style: decimal;
  font-size: 20px;
  line-height: 30px;
  margin: 0px 0px 0px 30px;
}

.terminal-body-wrapper > .git-markdown > ul {
  font-size: 20px;
  line-height: 30px;
  padding: 0px 0px 0px 30px;
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.terminal-body-wrapper > .git-markdown > ul > li {
  list-style: circle;
  color: rgba(180, 180, 180);
}

.terminal-body-wrapper > .git-markdown > p > strong {
  font-size: 20px;
  line-height: 24px;
  color: white;
  font-weight: bold;
  text-transform: capitalize;
}

.terminal-body-wrapper > .release {
  color: #4bbe5e;
}

.terminal-body-wrapper > .in-cursor {
  position: relative;
}

.terminal-body-wrapper > .in-cursor::before {
  content: "";
  width: 10px;
  height: 2px;
  position: absolute;
  bottom: 0.5px;
  right: -15px;
  background-color: rgba(255, 255, 255, 0.8);
  animation: focus-animation 1s infinite;
}
