.lock-screen-container {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-image: url(../images/wallpaper.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 1;
  transition: opacity 1s ease, transform 0.5s ease;
}

.lock-screen-container.open {
  transform: scale(1.2);
  opacity: 0;
  pointer-events: none;
}

.lock-screen-date {
  position: absolute;
  top: 100px;
  left: 50%;
  transform: translateX(-50%);
  font-size: 40px;
  line-height: 40px;
  font-family: "AppleSDGothicNeo";
  font-weight: 700;
  color: rgba(255, 255, 255, 0.6);
}

.lock-screen-time {
  position: absolute;
  top: 150px;
  left: 50%;
  transform: translateX(-50%);
  font-size: 150px;
  line-height: 150px;
  font-family: "AppleSDGothicNeo";
  font-weight: 700;
  color: rgba(255, 255, 255, 0.6);
}

.lock-screen-access-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 20px;
  align-items: center;
  position: absolute;
  bottom: 100px;
  left: 50%;
  transform: translateX(-50%);
}

.lock-screen-profile {
  width: 90px;
  height: 90px;
  border-radius: 50%;
  background-color: white;
}

.lock-screen-name {
  font-size: 25px;
  line-height: 25px;
  font-family: "AppleSDGothicNeo";
  font-weight: 400;
  color: white;
}

.lock-screen-access-box > button {
  width: 100px;
  padding: 10px 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  border-radius: 10px;
  background-color: rgba(0, 0, 0, 0.3);
  color: white;
  backdrop-filter: blur(10px);
  cursor: pointer;
}

.lock-screen-access-box.mac > button > span {
  height: 15px;
}

.lock-screen-access-box > button > span {
  font-size: 18px;
  line-height: 18px;
  font-family: "AppleSDGothicNeo";
  font-weight: 400;
}
