.nav-container {
  width: 100%;
  height: 30px;
  padding: 5px 25px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.6);
  backdrop-filter: blur(20px);
  font-family: "AppleSDGothicNeo";
}

.nav-left-area {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.nav-right-area {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.nav-logo {
  width: 25px;
  height: 25px;
}

.nav-title {
  font-size: 18px;
  line-height: 18px;
  font-weight: bold;
  color: black;
}

.nav-title.mac {
  height: 12px;
}

.nav-item {
  font-size: 18px;
  line-height: 18px;
  text-decoration: none;
  color: black;
}

.nav-item.mac {
  height: 12px;
}
