.realtime-box {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
}

.realtime-date {
  height: 12px;
  font-size: 18px;
  line-height: 18px;
  font-weight: 400;
  color: black;
}

.realtime-time {
  height: 12px;
  font-size: 18px;
  line-height: 18px;
  font-weight: 400;
  color: black;
}
